.app__page {
  display: flex;
}

.content {
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: margin-left .3s ease-in-out;
}

.content.width {
  width: (100% - 70px);
  margin-left: 70px;
}